{% extends "::base.html.twig" %}

{% block title %}AppBundle:Email:add{% endblock %}

{% block body %}
<h1>Welcome to the Email:add page</h1>
    <a href="{{ path('app_contact_showall') }}"><button>Show all contacts</button></a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Save">
    {{ form_end(form) }}
{% endblock %}
